config.load_autoconfig(False)
c.colors.completion.category.bg = '#4c566a'
c.colors.completion.category.border.bottom = '#4c566a'
c.colors.completion.category.border.top = '#4c566a'
c.colors.completion.category.fg = '#eceff4'
c.colors.completion.even.bg = '#2e3440'
c.colors.completion.fg = ["#d8dee9", "#d8dee9", "#d8dee9"]
c.colors.completion.item.selected.bg = '#3b4252'
c.colors.completion.item.selected.border.bottom = '#3b4252'
c.colors.completion.item.selected.border.top = '#3b4252'
c.colors.completion.item.selected.fg = '#eceff4'
c.colors.completion.item.selected.match.fg = '#88c0d0'
c.colors.completion.match.fg = '#88c0d0'
c.colors.completion.odd.bg = '#2e3440'
c.colors.completion.scrollbar.bg = '#2e3440'
c.colors.completion.scrollbar.fg = '#3b4252'
c.colors.contextmenu.disabled.bg = '#2e3440'
c.colors.contextmenu.disabled.fg = '#4c566a'
c.colors.contextmenu.menu.bg = '#2e3440'
c.colors.contextmenu.menu.fg = '#d8dee9'
c.colors.contextmenu.selected.bg = '#3b4252'
c.colors.contextmenu.selected.fg = '#88c0d0'
c.colors.messages.error.bg = '#bf616a'
c.colors.messages.error.border = '#bf616a'
c.colors.messages.error.fg = '#eceff4'
c.colors.messages.info.bg = '#3b4252'
c.colors.messages.info.border = '#3b4252'
c.colors.messages.info.fg = '#eceff4'
c.colors.messages.warning.bg = '#ebcb8b'
c.colors.messages.warning.border = '#ebcb8b'
c.colors.messages.warning.fg = '#2e3440'
c.colors.prompts.bg = '#3b4252'
c.colors.prompts.border = '0px'
c.colors.prompts.fg = '#eceff4'
c.colors.prompts.selected.bg = '#4c566a'
c.colors.downloads.bar.bg = '#2e3440'
c.colors.downloads.error.bg = '#bf616a'
c.colors.downloads.error.fg = '#2e3440'
c.colors.downloads.start.bg = '#81a1c1'
c.colors.downloads.start.fg = '#2e3440'
c.colors.downloads.stop.bg = '#a3be8c'
c.colors.downloads.stop.fg = '#2e3440'
c.colors.hints.bg = '#81a1c1'
c.colors.hints.fg = '#2e3440'
c.colors.hints.match.fg = '#ebcb8b'
c.colors.keyhint.bg = '#2e3440'
c.colors.keyhint.fg = '#eceff4'
c.colors.keyhint.suffix.fg = '#88c0d0'
c.colors.statusbar.caret.bg = '#8fbcbb'
c.colors.statusbar.caret.fg = '#2e3440'
c.colors.statusbar.caret.selection.bg = '#8fbcbb'
c.colors.statusbar.caret.selection.fg = '#2e3440'
c.colors.statusbar.command.bg = '#2e3440'
c.colors.statusbar.command.fg = '#eceff4'
c.colors.statusbar.insert.bg = '#2e3440'
c.colors.statusbar.insert.fg = '#eceff4'
c.colors.statusbar.normal.bg = '#2e3440'
c.colors.statusbar.normal.fg = '#eceff4'
c.colors.statusbar.passthrough.bg = '#2e3440'
c.colors.statusbar.passthrough.fg = '#eceff4'
c.colors.statusbar.url.error.fg = '#bf616a'
c.colors.statusbar.url.fg = '#e5e9f0'
c.colors.statusbar.url.hover.fg = '#8fbcbb'
c.colors.statusbar.url.success.https.fg = '#a3be8c'
c.colors.statusbar.url.warn.fg = '#ebcb8b'
c.colors.tabs.bar.bg = '#2e3440'
c.colors.tabs.even.bg = '#2e3440'
c.colors.tabs.even.fg = '#81a1c1'
c.colors.tabs.odd.bg = '#2e3440'
c.colors.tabs.odd.fg = '#81a1c1'
c.colors.tabs.selected.even.bg = '#4c566a'
c.colors.tabs.selected.even.fg = '#eceff4'
c.colors.tabs.selected.odd.bg = '#4c566a'
c.colors.tabs.selected.odd.fg = '#eceff4'
c.colors.tabs.indicator.error = '#bf616a'
c.colors.tabs.indicator.start = '#81a1c1'
c.colors.tabs.indicator.stop = '#a3be8c'
c.colors.webpage.bg = '#eceff4'
c.colors.webpage.darkmode.enabled = False
c.colors.webpage.preferred_color_scheme = 'auto'
c.content.proxy = 'socks5://localhost:1080'
c.fonts.default_size = '18px'
c.fonts.completion.category = 'bold default_size Sarasa Term SC'
c.fonts.completion.entry = 'default_size Sarasa Term SC'
c.fonts.contextmenu = 'default_size Sarasa Term SC'
c.fonts.debug_console = 'default_size Sarasa Term SC'
c.fonts.downloads = 'default_size Sarasa Term SC'
c.fonts.hints = 'bold default_size Sarasa Term SC'
c.fonts.keyhint = 'default_size Sarasa Term SC'
c.fonts.messages.error = 'default_size Sarasa Term SC'
c.fonts.messages.info = 'default_size Sarasa Term SC'
c.fonts.messages.warning = 'default_size Sarasa Term SC'
c.fonts.prompts = 'default_size Sarasa Term SC'
c.fonts.statusbar = 'default_size Sarasa Term SC'
c.fonts.tabs.selected = "default_size 'Sarasa Term SC Semibold'"
c.fonts.tabs.unselected = 'default_size Sarasa Term SC'
c.fonts.web.family.cursive = 'Sarasa Term SC'
c.fonts.web.family.fantasy = 'Sarasa Term SC'
c.fonts.web.family.fixed = 'Sarasa Fixed SC'
c.fonts.web.family.sans_serif = 'Sarasa Term SC'
c.fonts.web.family.serif = 'Sarasa Term Slab SC'
c.fonts.web.family.standard = 'Sarasa Term SC'
c.fonts.web.size.default = 20
c.fonts.web.size.minimum = 16
c.hints.border = '0px'
c.hints.chars = 'asdfjkl;'
c.hints.selectors = {"all": ["a", "area", "textarea", "select", "span", "input:not([type=\"hidden\"])", "button", "frame", "iframe", "img", "link", "summary", "[onclick]", "[onmousedown]", "[role=\"link\"]", "[role=\"option\"]", "[role=\"button\"]", "[ng-click]", "[ngClick]", "[data-ng-click]", "[x-ng-click]", "[tabindex]"], "images": ["img"], "inputs": ["input[type=\"text\"]", "input[type=\"date\"]", "input[type=\"datetime-local\"]", "input[type=\"email\"]", "input[type=\"month\"]", "input[type=\"number\"]", "input[type=\"password\"]", "input[type=\"search\"]", "input[type=\"tel\"]", "input[type=\"time\"]", "input[type=\"url\"]", "input[type=\"week\"]", "input:not([type])", "textarea"], "links": ["a[href]", "area[href]", "link[href]", "[role=\"link\"][href]"], "media": ["audio", "img", "video"], "url": ["[src]", "[href]"]}
c.tabs.favicons.scale = 0.8
c.url.default_page = 'file://{{ .xdg.config }}/qutebrowser/startpage/index.html'
c.url.start_pages = 'file://{{ .xdg.config }}/qutebrowser/startpage/index.html'
c.url.searchengines = {
    "DEFAULT": "http://duckduckgo.com/?q={}",
    "aw": "https://wiki.archlinux.org/?search={}",
    "gh": "https://github.com/search?q={}",
    "wp": "https://en.wikipedia.org/w/index.php?search={}",
}
config.bind('<Ctrl-Escape>', 'leave-mode', mode='passthrough')
c.editor.command = ['footclient', 'nvim', '-f', '{file}', '-c', 'normal {line}G{column0}l']
