[Unit]
Description=Cache the password
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pass show nextcloud > /dev/null
Restart=on-failure

[Install]
WantedBy=wayland-session.target
