[Unit]
Description=Calendar synchronization timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=15m
Unit=vdirsyncer@%i.service

[Install]
WantedBy=timers.target
