[Unit]
Description=Start tmux in detached session
Documentation=man:tmux(1)

[Service]
Type=forking
ExecStart=/usr/bin/tmux new -s %u -d
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=multi-user.target
